.header {
  position: sticky;
  top: 0;
  display: flex;
  background-color: white;
  border-bottom: 0.1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 5px;
  width: 100%;
  z-index: 999;
}

.header__container {
  margin: 0 auto;
  display: flex;
  width: 1110px;
  justify-content: space-between;
}

.header__left {
  display: flex;
}

.header__left > img {
  object-fit: contain;
  height: 34px;
  margin-right: 10px;
}

.header__search {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 15px;
  color: gray;
  background-color: #eef3f8;
}

.header__search > input {
  outline: none;
  border: none;
  background: none;
}

.header__search > input:focus {
  width: 270px;
}

.header__right {
  display: flex;
}

.vr {
  border-left: 2px solid #ededed;
  height: 40px;
  margin-right: 25px;
  margin-left: 10px;
}

.header__right__end {
  display: flex;
}
